<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sky社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/skycommunity.css"/>
    <script src="/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-3.3.7/js/community.js"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="row">
<div class="page-header text-center">
    <h1>系统功能 <small>用户便捷登陆页面</small></h1>
</div>
</div>
<div style="padding: 100px">
    <table class="table table-hover">
        <thead>
            <th>姓名</th>
            <th>头像</th>
            <th>操作</th>
        </thead>
        <tbody th:each="user : ${users}">

            <td>
                <span th:text="${user.name}"></span>
            </td>
            <td>
                <img class="media-object img-thumbnail" th:src="${user.avatarUrl}">
            </td>
            <td>
                <span><a th:href="@{'/admin/'+${user.id}}" >登录</a></span>
            </td>
        </tbody>

    </table>

</div>
</body>
</html>