<!DOCTYPE HTML>
<!--xmlns:th="http://www.thymeleaf.org"-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/skycommunity.css"/>
    <script src="/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div  class="media" th:each="question : ${pageInfoDTO.getQuestionDTOS()}">
                <div class="aw-item">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="" th:src="${question.user.getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}">怎么快速学会Spring Boot 开发</a>
                        </h4>
                        <span th:text="${question.description}">点击进入看视频</span><br>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 • <span
                                th:text="${question.viewCount}"></span>次浏览 •
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span></span>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" th:if="${pageInfoDTO.pages.size()>0}">
                <ul class="pagination">
                    <li th:if="${pageInfoDTO.showFirstPage}">
                        <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfoDTO.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfoDTO.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pageInfoDTO.pages}" th:class="${pageInfoDTO.page==page}?'active':''"><a
                            th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a></li>
                    <li th:if="${pageInfoDTO.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfoDTO.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfoDTO.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfoDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section=='questions'}?'list-group-item active':'list-group-item'">我的问题</a>
                <a href="/profile/repies" th:class="${section=='repies'}?'list-group-item active':'list-group-item'"class="list-group-item">
                    最新回复
                <span class="badge">14</span>
                </a>

            </div>
        </div>
    </div>
</div>
</body>
</html>